*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top left, #8360c3b7, #2ebf91c2);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

body h1 {
  font-size: 2rem ;
}

body h2 {
  font-size: 1.1rem ;
}

.access {
  position: relative;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.492);
  box-shadow: 7px 7px 0 #756b8ba1;
  animation: fadeIn 1s;
}

.login-form {
  position: relative;
  animation: fadeIn 1s;
}

.user-name {
  height: 0;
  position: relative;
  font-weight: bold;
  top: 18px;
  left: 22px;
  z-index: 1;
}

.call-options {
  margin-bottom: 30px;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-40 {
  gap: 40px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-center {
  text-align: center;
}

@keyframes fadeIn {
  0% { opacity: 0; top: -50px; }
  100% { opacity: 1; top: 0; }
}